<form id ="probing_tab">
<div style="float: left; padding:30px;">
    <label for="size_x">Size X:</label>
    <input type="text" id="size_x" name="size_x" data-bind="value: input_size_x, disable: isCalculating">
    {# <input type="text" id="size_x" name="size_x" data-bind="value: input_size_x"> #}
    <br>
    <label for="size_y">Size Y:</label>
    <input type="text" id="size_y" name="size_y" data-bind="value: input_size_y, disable: isCalculating">
    <br>
    <label for="max_z">Safety Z-Height:</label>
    <input type="text" id="max_z" name="max_z" data-bind="value: input_max_z, disable: isCalculating" title="Set this to the highest point on your Buildplate. Height for moving across the platform, for example when moving from the end of one row in x to the start of the next, during the y change.">
    {# <br>
    <label for="feedrate_probe">Probing Feedrate:</label>
    <input type="text" id="feedrate_probe" name="feedrate_probe" data-bind="value: input_feedrate_probe, disable: isCalculating" title="The speed the probe will move at when looking for a target."> #}

</div>
<div style="float: right; padding:30px;">
    <label for="stepsize_x">Step Size X:</label>
    <input type="text" id="stepsize_x" name="stepsize_x" data-bind="value: input_stepsize_x, disable: isCalculating">
    <br>
    <label for="stepsize_y">Step Size Y:</label>
    <input type="text" id="stepsize_y" name="stepsize_y" data-bind="value: input_stepsize_y, disable: isCalculating">
    <br>
    <label for="lift_z">Z Lift:</label>
    <input type="text" id="lift_z" name="lift_z" data-bind="value: input_lift_z, disable: isCalculating" title="height for jump up in z height before making a step.">
    <br>
    {# <label for="feedrate_move">Moving Feedrate:</label>
    <input type="text" id="feedrate_move" name="feedrate_move" data-bind="value: input_feedrate_move, disable: isCalculating" title="The speed the probe will move at when moving between points.">
    <br> #}
    {# self.input_feedrate_move = ko.observable("300");
        self.input_wait_time  #}
    <label for="wait_time">Wait Time:</label>
    <input type="text" id="wait_time" name="wait_time" data-bind="value: input_wait_time, disable: isCalculating" title="Time of your longest move plus some, be generous: The time to wait for a response from the printer in seconds.">

</div>
<br style="clear: both;">
<button type="button" class="btn btn-default" style="margin-left:30px;" data-bind= "click: trace">Start Probing</button>
<button type="button" class="btn btn-default" style="margin-left:30px;" data-bind= "click: lowerZ">Lower Z (G38.3 Z-2*safety_Z)</button>
<button type="button" class="btn btn-default" style="margin-left:30px;" data-bind= "click: GoXYZero">Go to X,Y Zero</button>
<br>
<button type="button" class="btn btn-default" style="margin-left:30px;" data-bind= "click: moveUp">move up 1mm</button>
<button type="button" class="btn btn-default" style="margin-left:30px;" data-bind= "click: zeroxy">Zero X and Y</button>
</form>